* {
    box-sizing: border-box;
}
.body{
    font-family: Roboto;
    font-weight: 400;
}

.topo{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    height: 80px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 45px;
    padding: 0 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    background-color: white;
}
.topo img{
    height: 53px;
    width: 75px;
}

.base{
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1;
    height: 80px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
    padding: 0 20px;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    background-color: white;
}
.base div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.base p{
    font-family: Roboto;
    font-weight: 300;
    font-size: 14px;
    color:#505050;
}
.base input{
    border:none;
    font-family: Roboto;
    font-weight: 400;
    font-size:18px;
    color:black;
    outline:none;
}
.base input:focus{
    border:none;
}
.base ::placeholder{
    font-family: Roboto;
    font-weight: 400;
    font-size:18px;
    font-style:italic;
    color:black;
}

.conteudo{
    width:100vw;
    margin: 80px 0;
    background-color: #f3f3f3;
    padding-top: 26px;
}
.mensagem{
    display:flex;
    min-height: 40px;
    max-width: 100vw;
    margin: 4px 0;
    padding: 0 8px;
    border-radius: 2px;
    align-items: center;
}
.mensagem p{
    display:inline;
    margin-right: 5px;
}

.tempo{
    color:#AAAAAA;
    font-family: Roboto;
    font-weight: 400;
    font-size:14px;
}
.usuario{
    color:#000000;
    font-family: Roboto;
    font-weight: 700;
    font-size:14px;
    font-style: bold;
}
.texto{
    color:#000000;
    font-family: Roboto;
    font-weight: 400;
    font-size:14px;
}
.msg{
    color:#000000;
    font-family: Roboto;
    font-weight: 400;
    font-size:14px;
    word-break: break-all;
}
.status{
    background-color: #DCDCDC;
}
.message{
    background-color: white;
}
.private_message{
    background-color: #FFDEDE;
}
.telaEntrada{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 100vw;
    height: 100vh;
}
.telaEntrada img{
    width: 130px;
    height: 92px;
    margin: 72px 0;
}
.telaEntrada input{
    width: 261px;
    height: 64px;
    margin: 22px 0;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    font-size:18px;
    color:black;
    outline: none;
}
.telaEntrada ::placeholder{
    display: flex;
    justify-content: center;
    text-align: center;
}
.telaEntrada .btnEntrar{
    background-color: #E7E7E7;
    width: 109px;
    height: 45px;
    border-radius: 9px;
    color: #696969;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-weight: 400;
    font-size:18px;
}
.telaEntrada .loading{
    display:none;
    width: 230px;
    height: 130px;
}

.barra{
    background-color: rgba(0, 0, 0, 0.6);
    position:fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    display: flex;
    flex-direction: row-reverse;
}
.sair{
    width: 40%;
    height: 100%;
}
.barraLateral{
    background-color: white;
    width:60%;
    height: 100vh;
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;

}

li{
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    display:flex;
    justify-content: space-between;
    text-align: center;
    margin: 10px 10px;
}

.check {
    color:green;
    display:none;
}
.selecionado .check{
    display:block;
}